{% extends "base.html" %}
{% block head %}

<title>Add Staff | School Dashboard</title>

{% endblock %}

{% block body %}

<div class="page-title">
    <div class="title_left">
        <h3>Add Staff</h3>
    </div>
</div>
<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            <br />
            <form action="{{ url_for('add_staff') }}" method="post" enctype="multipart/form-data">
                <!--  -->
                <!--  -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="name">Name <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="name" name="name">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="father_name">Father Name
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="father_name" name="father_name">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="mother_name">Mother Name
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="mother_name" name="mother_name">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="phone_number">Phone Number
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="phone_number" name="phone_number">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align"
                                for="secondary_phone_number">Secondary Phone Number <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" class="form-control" id="secondary_phone_number"
                                    name="secondary_phone_number">

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="gender">Gender <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select class="form-control" required id="gender" name="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback" style="display: none;" id="merage_box">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="merital_status">Merital
                                Status <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select class="form-control" id="merital_status" name="merital_status">
                                    <option value="Unmarried">Unmarried</option>
                                    <option value="Married">Marrried</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback" style="display: none;" id="husband_box">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="husband_name">Husband Name
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input class="form-control" id="husband_name" name="husband_name">

                            </div>
                        </div>
                    </div>



                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="joining_date">Joining
                                Date <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="date" required class="form-control" id="joining_date" name="joining_date"
                                    value="{{current_date}}">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="birth_date">Date Of Birth
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="date" required class="form-control" id="birth_date" name="birth_date">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="blood_group">Blood group
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select class="form-control" required id="blood_group" name="blood_group">

                                    <option value="O+">O+</option>
                                    <option value="A+">A+</option>
                                    <option value="O-">O-</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="social_category">Social
                                Category <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select class="form-control" required id="social_category" name="social_category">
                                    <option value="General">General</option>
                                    <option value="SC">SC</option>
                                    <option value="OBC">OBC</option>
                                    <option value="BC-A">BC-A</option>
                                    <option value="BC-B">BC-B</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="aadhar_card">Aadhar
                                Card<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="file" required class="form-control" id="aadhar_card" name="aadhar_card">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="aadhar_number">Aadhar
                                Number <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="aadhar_number"
                                    name="aadhar_number">

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="pan_card">Pan Card<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="file" required class="form-control" id="pan_card" name="pan_card">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="pan_number">PAN
                                Number <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="pan_number" name="pan_number">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="staff_type">Staff Type<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select class="form-control" required id="staff_type" name="staff_type">
                                    <option value="false">Non Teaching Staff</option>
                                    <option value="true">Teaching Staff</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback" id="subject_box" style="display: none;">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="subject_speciliest">Subjcet
                                Specialist <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select type="text" class="form-control" id="subject_speciliest"
                                    name="subject_speciliest">

                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback" id="designation_box" style="display: none;">
                        <div class="item form-group">
                            <label class="col-form-label col-md-5 col-sm-5 label-align"
                                for="designation">Designation:<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <select class="form-control" required id="designation" name="designation">
                                    <option value="ENTITY">ENTITY</option>
                                    <option value="PRT">PRT</option>
                                    <option value="PGT">PGT</option>
                                    <option value="TGT">TGT</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align"
                                for="qualification">Qualification <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="qualification"
                                    name="qualification">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="experience">Experience (in
                                years) <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" required class="form-control" id="experience" name="experience">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="bank_name">Bank Name <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="bank_name" name="bank_name">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="account_number">Account
                                Number <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="account_number"
                                    name="account_number">

                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="ifsc_code">IFSC Code <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="ifsc_code" name="ifsc_code">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="basic_salary">Basic Salary
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" required class="form-control" id="basic_salary"
                                    name="basic_salary">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="pf">PF (%)<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" required class="form-control" id="pf" name="pf">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="tax">TAX (%)<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" required class="form-control" id="tax" name="tax">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="pin">Pin Code<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" required class="form-control" id="pin" name="pin">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="city">City <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="city" name="city">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="state">State <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="state" name="state">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <div class="item form-group">

                            <label class="col-form-label col-md-5 col-sm-5 label-align" for="address">Address <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" required class="form-control" id="address" name="address">

                            </div>
                        </div>
                    </div>


                </div>

                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-12 col-sm-12 text-right pull-right">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script type="module" src="/static/js/pages_script/add_staff/main.js"></script>

{% endblock %}