{% extends "base.html" %}

{% block head %}

<title>School Management</title>

<style>
    /* Define scrollbar styles */
    .card-scrollbar::-webkit-scrollbar {
        width: 12px;
    }

    .card-scrollbar::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .card-scrollbar::-webkit-scrollbar-thumb {
        background-color: #007bff;
        /* Use btn-primary color */
        border-radius: 6px;
    }

    .card-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #0056b3;
        /* Darker shade for hover */
    }

    .post-data {
        display: inline-block;
        font-size: 14px;
        color: #ffffff;
        padding: 5px 14px;
        border-radius: 20px;
        margin-bottom: 14px;
    }
</style>

{% endblock %}

{% block body %}


<div class="row">
    <div class="col-xl-6 col-lg-6">
        <a class="card l-bg-cherry" style="cursor: pointer;" href="{{ url_for('show_student_attendence')}}">
            <div class="card-statistic-3 p-4">

                <h5 class="card-title mb-0 text-success"> Student Attendecne</h5>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            <i class="fa fa-graduation-cap text-gray-300" style="margin-right: 5%;"
                                aria-hidden="true"></i> <span id="student_attendence_label"></span>
                        </h2>
                    </div>

                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="bg-success" role="progressbar" aria-valuenow="25" id="student_percentage"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </a>

    </div>


    <div class="col-xl-6 col-lg-6 mb-2">
        <a href="{{ url_for('show_staff_attendence')}}" class="card l-bg-cherry" style="cursor: pointer;">
            <div class="card-statistic-3 p-4">

                <h5 class="card-title mb-0 text-info">Staff
                    Attendecne</h5>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"><i class="fa fa-users text-gray-300"
                                aria-hidden="true" style="margin-right: 5%;"></i>
                            <span id="stff_attendence_label"></span>
                        </h2>
                    </div>

                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="bg-info" role="progressbar" id="staff_percentage" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

            </div>
        </a>

    </div>

</div>

<div class="row">
    <div class="col-xl-7 col-lg-7 mb-2">
        <div class="card l-bg-cherry">
            <div class="card-statistic-3 p-4">
                <h5 class="card-title mb-0 text-dark">
                    Time Table
                </h5>
                <div class="row card-scrollbar" style="overflow: auto; height: 60vh" id="time-table-area">
                    <!-- Notice Board -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-5 mb-2">
        <div class="card l-bg-cherry">
            <div class="card-statistic-3 p-4">
                <h5 class="card-title mb-0 text-dark">
                    Notice Board
                </h5>
                <div class="row card-scrollbar" style="overflow: auto; height: 60vh" id="notice_board">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/static/js/pages_script/dashboard/dashboard.js"></script>
<script type="module" src="/static/js/pages_script/notice_board/notice_board.js"></script>


{% if current_user.user_type == 'admin' %}
<script type="module" src="/static/js/pages_script/dashboard/admin_time_table.js"></script>
{% else %}

<h1 id="staff_id" style="display: none;">{{ current_user.teacher_id}}</h1>
<script type="module" src="/static/js/pages_script/dashboard/staff_time_table.js"></script>

{% endif %}


{% endblock %}