<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | School System...</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            margin: 1.5%;
            padding: 1.5%;
        }
    </style>
</head>
<body>
    <h1>Home page</h1>
    <p>This is Home page...</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non exercitationem, quas quod maiores dolor reiciendis iusto quae harum quis optio quo sunt culpa asperiores aliquid, odio, cupiditate impedit. Aliquid, nostrum.</p>
    <h2>Home Page Ends Here.</h2>
</body>

<script>
    window.open(url = '/admin', target = "_blank", fullscreen = 'yes', menubar = "no", titlebar = 'no', toolbar = "no", status = 'no')
</script>
</html>